/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* @import '~antd/dist/antd.css'; */
/* @import '~antd/dist/antd.dark.css'; */
/* @import '~antd/dist/antd.compact.css'; */

body {
  margin: 0 !important;
  overflow-x: hidden;
}

html,
body,
input,
textarea,
select,
button,
dialog {
  background-color: white;
}

input {
  color: #181a1b;
}
.dsg-container {
  height: 650px !important;
}

.display-block {
  display: block;
}

.visually-hidden {
  display: none;
}

.row-deleted .dsg-cell {
  /* Red */
  background: #ffccc8;
  /* background: #fff1f0; */
  /* background: red; */
}

.row-created .dsg-cell {
  /* Green */
  background: #d5ffab;
  /* background: #f6ffed; */
  /* background: green; */
}

.row-updated .dsg-cell {
  /* Orange */
  background: #ffe3a8;
  /* background: #fff7e6; */
  /* background: orange; */
}

.ant-statistic-content-value-decimal {
  font-size: 14px;
}
