:root {
  --dark-border-color: #242728;
  --dark-cell-background-color: #181a1b;
  --dark-text-color: #afa89d;
  --dark-border-color-2: #363a3d;
}

body {
  margin: 0 !important;
  overflow-x: hidden;
  background-color: black;
}

.dsg-container {
  height: 500px !important;
  background-image: initial !important;
  background-color: rgb(24, 26, 27) !important;
  border-left-color: initial !important;
  border-top-color: initial !important;
  border-bottom-color: var(--dark-border-color-2) !important;
  color: rgb(232, 230, 227) !important;
}

.dsg-cell-header.dsg-cell-gutter {
  box-shadow:
    1px 0 var(--dark-border-color-2),
    0 1px var(--dark-border-color-2);
}

.dsg-row {
  box-shadow: 0 1px var(--dark-border-color) inset !important;
}

.dsg-add-row {
  background-image: initial;
  background-color: rgb(27, 29, 30);
  border-top-color: initial;
  color: rgb(232, 230, 227);
  border-color: var(--dark-border-color-2);
}
.dsg-add-row-btn,
.dsg-add-row-input {
  background-image: initial;
  background-color: rgb(24, 26, 27);
  border-color: rgb(58, 63, 65);
}
.dsg-cell,
.dsg-row {
  background: var(--dark-cell-background-color) !important;
}

.dsg-cell-gutter,
.dsg-cell-header {
  box-shadow: none;
  color: var(--dark-text-color);
}

.dsg-cell {
  border-bottom-color: initial;
  border-right-color: initial;
  box-shadow: 1px 1px var(--dark-border-color);
}

.dsg-cell,
.dsg-scrollable-view {
  border: 1px solid var(--dark-border-color-2);
}

.dsg-cell,
.dsg-row {
  background: var(--dark-cell-background-color);
}

html,
body,
input,
textarea,
select,
button {
  border-color: #736b5e;
  color: #e8e6e3;
}

html,
body,
input,
textarea,
select,
button,
dialog {
  background-color: #181a1b;
}

/*  React-select css start  */

.react-select__option--is-focused {
  background-color: #1668dc !important;
  color: white !important;
}

.react-select__option--is-selected {
  background-color: #1668dc !important;
  color: white !important;
}

/* div[class*='-control'] {
  height: 31px !important;
  min-height: 31px !important;
  background-color: var(--dark-cell-background-color) !important;
  border-color: var(--dark-border-color) !important;
  color: var(--dark-text-color) !important;
}

.css-t3ipsp-control {
  border-color: var(--dark-border-color) !important;
  box-shadow: 0 0 0 0.075rem var(--dark-border-color-2) !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0px 8px !important;
}

.css-1xc3v61-indicatorContainer,
.css-15lsz6c-indicatorContainer {
  padding: 5px 8px !important;
}

.css-1u9des2-indicatorSeparator {
  margin-bottom: 4px !important;
  margin-top: 6px !important;
}

.css-4xgw5l-IndicatorsContainer2 {
  height: 28px !important;
}

.css-qbdosj-Input {
  margin: 0px !important;
}

.css-w9q2zk-Input2,
.css-feonkk-Input2,
.css-1xc3v61-indicatorContainer,
.css-15lsz6c-indicatorContainer,
.css-1xc3v61-indicatorContainer:hover,
.css-15lsz6c-indicatorContainer:hover {
  color: var(--dark-text-color) !important;
}

.css-1nmdiq5-menu {
  z-index: 1001 !important;
  background-color: var(--dark-cell-background-color) !important;
}

.css-1dimb5e-singleValue {
  color: var(--dark-text-color) !important;
}

.css-feonkk-Input2 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.css-19bb58m {
  margin: 0px !important;
} */

/*  React-select css end  */
